<div class="content">
    <div class="hero hero--indigo">
        <div class="hero__content">
            <div class="container center-xs">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="flex-fluid">
                            <h1>Configurations</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <div class="row">
                    <div class="col-md-12">
                            <button class="btn btn--icon btn--success"
                            ng-click="go('configs/detail')"
                             style="float:right"><span class="icon-add"></span></button>    
                        
                            <h2 class="text-blue base-margin-bottom">Config List</h2> 
                            
                            <hr>
                        
                        <div class="responsive-table">
                            <table class="table table--bordered table--nostripes table--hover" style="cursor:pointer">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Device Type</th>
                                        <th>URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="config in configs">
                                        <td></td>
                                        <td>{a config.name a}</td>
                                        <td>{a config.deviceType.name a}</td>
                                        <td>{a serverUrl a}{a config.locationUrl a}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>