<div class="content">
    <div class="hero hero--indigo">
        <div class="hero__content">
            <div class="container center-xs">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="flex-fluid">
                            <h1>Devices</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <div class="row">
                    <div class="col-md-12">
                            <button class="btn btn--icon btn--success"
                            ng-click="newDevice()" style="float:right"><span class="icon-add"></span></button>    
                        
                            <h2 class="text-blue base-margin-bottom">Device List</h2> 
                            
                            <hr>
                        
                        <div class="responsive-table">
                            <table class="table table--bordered table--nostripes table--hover" style="cursor:pointer">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Host</th>
                                        <th>Model</th>
                                        <th>Serial</th>
                                        <th>Fixed IP</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="device in devices" ng-click="selectDevice(device);">
                                        <td></td>
                                        <td>{a device.hostname a}</td>
                                        <td>{a device.deviceType.name a}</td>
                                        <td>{a device.serial a}</td>
                                        <td>{a device.fixedIp a}</td>
                                        <td>{a device.status a}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>