<div class="content">
    <div class="hero hero--indigo">
        <div class="hero__content">
            <div class="container center-xs">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="flex-fluid">
                            <h1>Device Details</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <h2 class="text-blue base-margin-bottom">Hardware</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="host" ng-model="ncsztp.host">
                                <label for="host">Serial Number</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="serial" ng-model="ncsztp.serial">
                                <label for="serial">Model</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <h2 class="text-blue base-margin-bottom">Connectivity</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="host" ng-model="ncsztp.host">
                                <label for="host">Hostname</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="host" ng-model="ncsztp.host">
                                <label for="host">Management IP</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <h2 class="text-blue base-margin-bottom">Onboarding</h2>
                
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="host" ng-model="ncsztp.host">
                                <label for="host">Image</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="host" ng-model="ncsztp.host">
                                <label for="host">Day 0 Script</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="col-md-12">
                <br />
                <button class="btn btn--primary" style="float:right" ng-click="addNcsZtp()">Save</button>
            </div>
        </div>
    </div>
</div>