<div class="content">
    <div class="hero hero--indigo">
        <div class="hero__content">
            <div class="container center-xs">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="flex-fluid">
                            <h1>Welcome to Zero Touch Provisioning Dashboard </h1>
                            <p class="text-large">Automation for your XR and NX devices</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="panel panel--loose panel--bordered">
                <div class="row">
                    <div class="col-md-12 text-large">
                        <h1 class="text-huge text-blue base-margin-bottom">Summary</h1>
                    </div>

                    <div class="col-md-3 text-center">
                        <h4>NX Devices</h4>
                        <br/>
                        <span class="label label--circle label--goliath label--blue">{a (devices | filter: getXrDevices).length a}</span>

                    </div>

                    <div class="col-md-3 text-center">
                        <h4>XR Devices</h4>
                        <br/>
                        <span class="label label--circle label--goliath label--warning">{a (devices | filter: getNxDevices).length a}</span>

                    </div>
                    <div class="col-md-3 text-center">
                        <h4>Webex Teams</h4>
                        <br/>
                        <span ng-if="settings.WebexTeamsRoomID != ''" class="label label--circle label--goliath label--success icon-check"></span>
                        <span ng-if="settings.WebexTeamsRoomID == ''" class="label label--circle label--goliath label--danger icon-close"></span>
                    </div>
                    <div class="col-md-3 text-center">
                        <h4>Situation Manager</h4>
                        <br/>
                        <span ng-if="settings.situationMgrURL != ''" class="label label--circle label--goliath label--success icon-check"></span>
                        <span ng-if="settings.situationMgrURL == ''" class="label label--circle label--goliath label--danger icon-close"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>